<script src="/static/js/bootstrap.bundle.js"></script>

<script src="/static/js/pwa.js"></script>
<script src="/static/js/status.js"></script>

<footer>
    <p class="text-center text-muted">Recopilación de datos experimental para el CNF 2021</p>
</footer>