<script src="/js/pwa.js"></script>
<script src="/js/status.js"></script>

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Composto Monitor</strong> creado por Composto Team, recopilación de datos experimentales para el<a href="https://cnf.smf.mx/programa/programa-final/ensenanza">CNF 2021 LXIV-003646</a>. 
      </p>
    </div>
  </footer>
