<script src="./js/bootstrap.bundle.min.js"></script>

<script src="/js/pwa.js"></script>
<script src="c/js/status.js"></script>

<footer>
    <p class="text-center text-muted">Recopilación de datos experimental para el CNF 2021</p>
</footer>