<script src="/js/pwa.js"></script>
<script src="/js/status.js"></script>

<footer class="cfooter">
    <div class=" has-text-centered">
      <p>
        <strong>Composto Monitor</strong> creado por Composto Team, recopilación de datos experimentales para el
        <a rel="noreferrer" target="_blank" href="https://cnf.smf.mx/programa/programa-final/ensenanza">CNF 2021 LXIV-003646</a>.        
      </p>
      <br>
    </div>
  </footer>
