<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5fb3b1">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Composto Main</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Sensores</a></li>
              <li><a class="dropdown-item" href="#">Descarga de datos</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>