
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5fb3b1;">
    <a class="navbar-brand" href="/">Composto Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/live"> Tiempo Real. </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sensors">por Sensor.</a>
        </li>
      </ul>
    </div>
  </nav>