<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../views/partials/head.ejs'); %>
    <title>Composto Main</title>
</head>

<body>
<div class="container-fluid">

    <header>
        <%- include('../views/partials/navbar.ejs'); %>
    </header>
    
    <main>
        <br>
        <div class="jumbotron">
            <h1>Esto es una prueba</h1>
            <p>Bienvenido a Composto Monitor</p>
        </div>
    </main>
    
    <%- include('../views/partials/footer.ejs'); %>

</div>
</body>
</html>