<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
    <title>Composto Main</title>
</header>

<main>
    <div class="jumbotron">
        <h1>Esto es una prueba</h1>
        <p>Bienvenido a Composto Monitor</p>
    </div>
</main>

<%- include('../partials/footer'); %>

</body>
</html>