<!DOCTYPE html>
<html>

<head>
  <%- include('../../views/partials/head.ejs'); %>
    <title>Composto Login</title>
</head>

<body class="login-background">
  <div>
    <section class="hero is-fullheight">
      <div class="hero-body is-center">
        <div>
          <p class="title is-size-1 is-size-2-touch has-text-centered has-text-white">
            Composto Monitor.
          </p>
          <p class="subtitle is-size-5 is-size-6-touch has-text-centered has-text-white">
            Iniciar Sesión.
          </p>
        </div>
      </div>

      <script src="/js/pwa.js"></script>
      <script src="/js/status.js"></script>

      <footer class="cfooter">
        <div class="has-text-centered">
          <p class="has-text-white">
            <strong>Composto Monitor</strong> por Composto Team,<br> recopilación de datos experimentales para el <a
              href="https://cnf.smf.mx/programa/programa-final/ensenanza">CNF 2021 LXIV-003646</a>.
          </p>
        </div>
      </footer>
      
    </section>
  </div>
</body>

</html>