<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs'); %>
    <title>Composto Login</title>
</head>

<body>
  <style type="text/css">
    body {
      background-image: radial-gradient(circle at 50% 110.64%, #b4d2c5 0, #a3ccbf 12.5%, #90c4ba 25%, #7abcb5 37.5%, #5fb3b1 50%, #3eaaae 62.5%, #00a1ae 75%, #0099ae 87.5%, #0091b0 100%);
    }
  </style>
  <div id="wrap">

    <div id="main" class="container clear-top">
      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-sm-6 mx-auto">

          <div class="card text-center">
            <div class="card-header">
              ¡Bienvenido a Composto Monitor!
            </div>
            <div class="card-body">
              <form action="/login" method="POST">
                <div class="row mb-3">
                  <label for="inputUser" class="col-sm-2 col-form-label">Usuario</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="username"
                      placeholder="invitados usen username: guest " id="inputUser">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Contraseña</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="password"
                      placeholder="contraseña para invitados: composta " id="inputPassword3">
                  </div>
                </div>

                <button type="submit" class="btn btn-secondary">Sign in</button>
              </form>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

  <footer class="footer">

    <p class="text-center" style="color:rgb(255, 255, 255)">Recopilación de datos experimental para el CNF 2021</p>

  </footer>


</body>

</html>