<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs'); %>
    <title>Composto Login</title>
</head>

<body>
  <style type="text/css">
    body {
      background: rgb(95, 179, 177);
      background: radial-gradient(circle, rgba(95, 179, 177, 0.97) 21%, rgba(148, 187, 233, 0.95) 100%);
    }

    footer {
      clear: both;
      position: relative;
      height: 200px;
      margin-top: -200px;
    }
    
  </style>
  <div class="container-fluid">

    <br>
    <br>
    <br>

    <div class="row">
      <div class="col-sm-6 mx-auto">

        <div class="card text-center">
          <div class="card-header">
            ¡Bienvenido a Composto Monitor!
          </div>
          <div class="card-body">
            <form action="/login" method="POST">
              <div class="row mb-3">
                <label for="inputUser" class="col-sm-2 col-form-label">Usuario</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="username" placeholder="invitados usen username: guest "
                    id="inputUser">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="password"
                    placeholder="contraseña para invitados: composta " id="inputPassword3">
                </div>
              </div>

              <button type="submit" class="btn btn-secondary">Sign in</button>
            </form>
          </div>

        </div>

      </div>

    </div>

  </div>

  <footer>
    <p class="text-center" style="color:rgb(255, 255, 255)">Recopilación de datos experimental para el CNF 2021</p>
  </footer>
  </div>

</body>

</html>